.cldatepick_wrap {
  width: 100%;
  background-color: #cccccc;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  text-align: center;
}

.cldatepick_box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cldatepick_box {
  width: 80%;
  vertical-align: middle;
  display: inline-block;
  height: 40%;
}

.cldatepick_item {
  float: left;
  text-align: center;
  height: 100%;
}

.cldatepick_item_main {
  height: 60%;
}

.cldatepick_item_up,
.cldatepick_item_down {
  background-color: #6f6f6f;
  cursor: pointer;
  height: 20%;
}

.cldatepick_item_sep {
  width: 5%;
  float: left;
  min-width: 5%;
  display: block;
}

.cldatepick_box_picker {
  height: 80%;
  background-color: #ffffff;
}

.cldatepick_box_tools {
  height: 20%;
}

.cldatepick_box_tools_submit {
  width: 100%;
  height: 100%;
  background-color: #05e73c;
}