/* !GLOBALE REGELN */

@font-face {
  font-family: openregular;
  src: url('../font/opensans-regular-webfont.ttf');
}

@font-face {
  font-family: openlight;
  src: url('../font/opensans-light-webfont.ttf');
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: openregular;
  font-size: 100%;
  background-color: rgb(225,225,225);
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
}

/* !iPhone3 GS */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 78% !important;
  }

  .eventdate {
    font-size: 80% !important;
  }

  .hoehe-2 .eventdate {
    font-size: 93% !important;
  }
}

/* !iPhone4  und iPhone5 */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ration: 1.5) {
  body {
    font-size: 75% !important;
  }

  .eventdate {
    font-size: 85% !important;
  }

  .hoehe-2 .eventdate {
    font-size: 95% !important;
  }
}

/* !LG Optimus p700 L7 */

@media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
  body {
    font-size: 110% !important;
  }

  .eventdate {
    font-size: 75% !important;
  }

  .hoehe-2 .eventdate {
    font-size: 90% !important;
  }
}

/* !LG Nexus4 */

@media only screen and (min-device-width: 640px) and (max-device-width: 768px;) {
  body {
    font-size: 170% !important;
  }

  .eventdate {
    font-size: 85% !important;
  }

  .hoehe-2 .eventdate {
    font-size: 95% !important;
  }
}

/* !Full HD */

@media only screen and (min-device-width: 769px) {
  body {
    font-size: 220% !important;
  }

  .eventdate {
    font-size: 85% !important;
  }

  .hoehe-2 .eventdate {
    font-size: 95% !important;
  }
}

#debug {
  color: red;
  max-height: 20rem;
  overflow-y: scroll;
  border-bottom: 1px solid #000;
}

/*
.page,ul,li,body,.item,.itemCheck,.innerContent,#page_7 input[type=text]{
	height: 100%;
}
*/

.page,
ul,
.list {
  height: 100%;
}

.page {
  display: none;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

a {
  border: 0em;
  text-decoration: none;
  color: black;
}

.content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.content-text a {
  color: #009743;
}

.content-randabstand {
  padding-left: 5%;
  padding-right: 5%;
}

input,
select,
button {
  width: 100%;
  background-color: transparent;
  border-style: none;
  padding-left: 2%;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
}

.padding {
  padding: 2%;
}

.headbox,
.hoehe-1,
.hoehe-2,
.hoehe-3,
.hoehe-4,
.hoehe-5,
.scroller,
li {
  /* 	margin-bottom: 0.2em; */
  margin-bottom: 1%;
}

.headbox {
  background-image: url('../img/logo.svg');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 0;
  /* 	height: 4em; */
  /* 	margin-bottom: 0.2em;	 */
}

.breaker {
  clear: both;
}

.button-halb {
  width: 49.5%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

h1 {
  font-family: openregular;
  margin: 0;
  font-size: 130%;
}

.subline {
  font-family: openlight;
}

.subline,
.subline span {
  font-family: openlight;
  line-height: 80%;
}

.halbe-zeile {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.menu-headline {
  font-size: 120%;
  font-family: openregular;
  display: block;
}

.menu-subline {
  font-family: openregular;
  color: #808080;
  display: block;
  width: 85%;
}

.white-text {
  color: #fff;
}

.schatten-aussen {
  box-shadow: 0.05em 0.05em 0.1em #808080;
}

.schatten-innen {
  box-shadow: inset 0.05em 0.05em 0.2em #808080;
}

.menu-start {
  width: 20%;
}

.menu-benutzer {
  width: 79%;
}

.menu-1 {
  width: 49.5%;
}

/* !GLOBALE FARBEN UND VERL�UFE */

.gradient {
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(240,240,240)),color-stop(1, rgb(255,255,255)));
}

.white {
  background-color: white;
}

.grey {
  background-color: rgb(242,242,242);
}

.light-grey {
  background-color: rgb(245,245,245);
}

.green {
  background-color: #009743;
  color: #fff !important;
}

/* !Flags */

.langswitch[data-lang="de"] {
  background-image: url('../img/flags/de.jpg');
  background-size: 100% 100%;
}

.langswitch[data-lang="en"] {
  background-image: url('../img/flags/en.jpg');
  background-size: 100% 100%;
}

.langswitch[data-lang="fr"] {
  background-image: url('../img/flags/fr.jpg');
  background-size: 100% 100%;
}

.langswitch[data-lang="el"] {
  background-image: url('../img/flags/el.jpg');
  background-size: 100% 100%;
}

.langswitch[data-lang="it"] {
  background-image: url('../img/flags/it.jpg');
  background-size: 100% 100%;
}

.langswitch[data-lang="nl"] {
  background-image: url('../img/flags/nl.jpg');
  background-size: 100% 100%;
}

.langswitch[data-lang="pl"] {
  background-image: url('../img/flags/pl.jpg');
  background-size: 100% 100%;
}

.langswitch[data-lang="es"] {
  background-image: url('../img/flags/es.jpg');
  background-size: 100% 100%;
}

/* !ICONS IN BACKGROUNDS */

.back {
  width: 10%;
  background-image: url('../img/back.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: center left;
}

.scroller {
  background-image: url('../img/scroller.svg');
  background-size: auto 200%;
  background-repeat: no-repeat;
  background-position: center center;
}

.suchen {
  background-image: url('../img/search.svg');
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-position: 95% center;
}

.skip {
  background-image: url('../img/skip.svg');
  background-size: auto 55%;
  background-repeat: no-repeat;
  background-position: center right;
  color: white;
  width: 13%;
}

.kill {
  background-image: url('../img/kill.svg');
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.width-15 {
  width: 19%;
}

.width-20 {
  width: 19.5%;
}

.width-25 {
  width: 24%;
}

.width-70 {
  width: 65%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.toggle-close {
  background-image: url('../img/toggle-open.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 2% 10%;
  padding: 0;
}

.toggle-open {
  background-image: url('../img/toggle-close.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 2% 10%;
  padding: 0;
}

.toggle-close-right {
  background-image: url('../img/toggle-open.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 95% 10%;
  padding: 0;
}

.toggle-open-right {
  background-image: url('../img/toggle-close.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 95% 10%;
  padding: 0;
}

.settings {
  background-image: url('../img/settings.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 15% 25%;
}

.pad-lft-10 {
  padding-left: 10%;
}

.hoehe-100 {
  height: 100%;
}

.divMainUser,
.checkbox-off {
  /* IMMER ALSO GRAU */
  width: 20%;
  background-image: url('../img/main-user-inaktiv.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}

.mainUser,
.checkbox-on {
  /* WENN AKTIV ALSO GREUN */
  width: 20%;
  background-image: url('../img/main-user.svg');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}

.active {
  background-color: #009743;
  color: #fff;
}

.delete {
  background-color: #fc0404;
  color: #fff;
}

.icon-stethoscope {
  background: rgb(242,242,242) url('../img/vm-stethoskop.svg') 95% center no-repeat;
  background-size: auto 50%;
}

.icon-tooth {
  background: rgb(242,242,242) url('../img/vm-zahn.svg') 95% center no-repeat;
  background-size: auto 50%;
}

.icon-syringe {
  background: rgb(242,242,242) url('../img/vm-spritze.svg') 95% center no-repeat;
  background-size: auto 50%;
}

.icon-pregnancy {
  background: rgb(242,242,242) url('../img/vm-baby.svg') 95% center no-repeat;
  background-size: auto 50%;
}

.icon-baby {
  background: rgb(242,242,242) url('../img/vm-babywagen.svg') 95% center no-repeat;
  background-size: auto 50%;
}

.icon-info {
  background: url('../img/menu-info.svg');
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: 95% top;
}

.icon-profil {
  background: rgb(242,242,242) url('../img/icon-profil.svg') 95% center no-repeat;
  background-size: auto 50%;
}

.icon-telefon-weiss {
  background-image: url('../img/icon-telefon_weiss.svg');
  background-size: auto 50%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.icon-telefon {
  background-image: url('../img/icon-telefon.svg');
  background-size: auto 50%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.icon-map {
  background-image: url('../img/icon-map.svg');
  background-size: auto 50%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.icon-map-weiss {
  background-image: url('../img/icon-map-weiss.svg');
  background-size: auto 50%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.icon-umkreis {
  background-image: url('../img/icon-umkreis.svg');
  background-size: auto 50%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

/* !AUS APP:JS */

.userName {
  width: 79%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /* 	font-size: 23pt; */
  list-style-type: none;
}

.gps {
  /* wird f�r JS genutzt*/
}

/* !MENU AUSWAHL */

.menu-pfeil {
  background: url('../img/menu-1.svg') 99% center no-repeat, -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(240,240,240)),color-stop(1, rgb(255,255,255)));
}

.menu-standard {
  background: url('../img/menu-1.svg') 95% 95% no-repeat, -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(240,240,240)),color-stop(1, rgb(255,255,255)));
}

.menu-suchen {
  background: url('../img/menu-suchen.svg') 95% 95% no-repeat, -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(240,240,240)),color-stop(1, rgb(255,255,255)));
}

.menu-sound {
  background: url('../img/menu-sound.svg') 95% 95% no-repeat, -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(240,240,240)),color-stop(1, rgb(255,255,255)));
  /*   background-size: 50% 50%, 100% 100%; */
}

.menu-bewerten {
  background: url('../img/menu-bewerten.svg') 95% 95% no-repeat, -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(240,240,240)),color-stop(1, rgb(255,255,255)));
}

.menu-info {
  background: url('../img/menu-info.svg') 95% 95% no-repeat, -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(240,240,240)),color-stop(1, rgb(255,255,255)));
}

.menu-registrieren {
  color: #fff;
  background: #009743 url('../img/menu-registrieren.svg') 95% 95% no-repeat;
}

#overlay-wrap {
  top: 50%;
  left: 45%;
}

#overlay-wrap {
  position: absolute;
  width: 0;
  height: 0;
}

#overlay {
  width: 3em;
  height: 3em;
  background-size: auto 100%;
  background-position: center bottom;
  position: relative;
  background-repeat: no-repeat;
  z-index: 9999999;
}

/* !STARTUP LOGO UND BACKGROUNDS */

.logo {
  background-image: url('../img/logo.svg');
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0;
}

.first_page_11 {
  background-size: cover;
  background-image: url('../img/arzt_background.jpg');
}

.first_page_12 {
  background-size: cover;
  background-image: url('../img/mann_frau.jpg');
}

.first_page_13 {
  background-size: cover;
  background-image: url('../img/arzt_background3.jpg');
}

.first_page_14 {
  background-size: cover;
  background-image: url('../img/arzt_background3.jpg');
}

.first_page_15 {
  background-size: cover;
  background-image: url('../img/arzt_background.jpg');
}

.pageBtnOffline {
  color: #999;
}

.btn_user_mann {
  background: rgb(245,245,245) url('../img/benutzer-male.svg') 95% center no-repeat;
  background-size: auto 40%;
}

.btn_user_frau {
  background: rgb(245,245,245) url('../img/benutzer-female.svg') 95% center no-repeat;
  background-size: auto 40%;
}

/* !H�hen */

.headbox {
  /* 	height: 12%; */
  height: 14.28571429%;
  margin-top: 0%;
  -webkit-box-sizing: border-box;
}

.hoehe-1 {
  /*height: 13.28571429%;*/
  height: 14%;
  -webkit-box-sizing: border-box;
  margin-top: 0%;
}

.hoehe-2 {
  /* 	height: 49%; */
  height: 27.57142857%;
  -webkit-box-sizing: border-box;
  margin-top: 0%;
}

.hoehe-3 {
  /* 	height: 60%; */
  height: 41.85714287%;
  -webkit-box-sizing: border-box;
  margin-top: 0%;
}

.hoehe-4 {
  /* 	height: 56.5%; */
  height: 56.14285716%;
  -webkit-box-sizing: border-box;
  margin-top: 0%;
}

.hoehe-5 {
  /* 	height: 71%; */
  height: 70%;
  -webkit-box-sizing: border-box;
  margin-top: 0%;
}

/* !H�HENANPASSUNGEN */

.hoehe-4 .hoehe-1 {
  height: 23.66412214%;
}

.hoehe-4 .hoehe-2 {
  height: 49.10941476%;
}

.hoehe-5 .hoehe-1 {
  height: 18.86409736%;
}

.hoehe-1 .hoehe-1 {
  height: 100%;
}

.content-text {
  font-family: openregular;
  color: black;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

#overlay {
  -webkit-animation: rotating 5s linear infinite;
}

#inputDate-newUserEvent {
  background: rgba(242,242,242) url('../img/clock.svg') 95% center no-repeat;
  background-size: auto 50%;
  background-color: white;
  margin-bottom: 2em;
}

/*

.inputDate-newUserBirthday {
	background: rgb(242,242,242) url('../img/geburtstag.svg') 2% center no-repeat;
	background-size:  auto 0.75em ;
	background-color: white;
}


.inputDate-firstUserBirthday {
	background: rgb(242,242,242) url('../img/geburtstag.svg') 2% center no-repeat;
	background-size:  auto 0.75em ;
	background-color: white;
}
*/

.eventdate {
  color: gray;
}

.sprachicon {
  margin-right: 1%;
}

.sprachicon img {
  width: 100%;
  height: 100%;
}

.sprachtextplay img {
  width: 100%;
  height: 100%;
}

#page_35 .langswitch,
#page_34 .langswitch {
  color: #000;
}

#page_31 .langswitch.active {
  color: #009743;
}

.invalid {
  border: 1px solid red;
}

#page_6 #register_form_form {
  padding-top: 5%;
}